{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.1"}}
 :aliases
 {:test {:extra-paths ["test"]
         :main-opts ["-m" "retirement.test-runner"]}
  :repl {:extra-paths ["test" "dev"]}}}
